<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js/}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="pull-right" style="padding-right:50px">
        <a href="?language=en">English</a>|<a href="?language=fr">French</a>
    </div>
    <div class="container">
            <form th:action="@{/login}" method="post" class="form-signin">
                <h2 class="form-heading" th:text="#{button.yourPage.label}"></h2>

                <div class="form-group">
                    <span th:text="${message}"></span>
                    <div th:if="${error}" class="alert alert-danger" role="alert" th:text=${error}></div>

                    <input name="username" type="text" class="form-control" placeholder="Username"
                           autofocus="autofocus"/>

                    <input name="password" type="password" class="form-control" placeholder="Password"/>

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.login.label}"></button>

                    <h4 class="text-center">
                        <a th:href="@{/registration}" th:text="#{account.create.label}"></a>
                    </h4>
                </div>
            </form>
    </div>
</div>
</body>
</div>
</html>