<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css/}"/>
    <title th:text="#{account.welcome.label}"></title>
</head>
<body>
<section>
    <div class="jumbotron">
        <div class="container">
            <h1 class="alert alert-danger" th:text="#{user.notFound.text}"></h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p>
            <a href="/logout" class="btn btnprimary"><span class="glyphicon-hand-left glyphicon"
                                                           th:text="#{button.loginPage.label}"></span>
            </a>
        </p>
    </div>
</section>
</body>
</html>