<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create an account</title>

    <link rel="stylesheet" th:href="@{/bootstrap.min.css/}"/>
    <link rel="stylesheet" th:href="@{/common.css/}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js/}"></script>
    <script type="text/javascript" th:src="@{/js/formValidation-ajax.js/}"></script>

</head>

<body>
<div class="pull-right" style="padding-right:50px">
    <a href="?language=en">English</a>|<a href="?language=fr">French</a>
</div>

<div class="container">
    <form id="logoutForm" method="POST" th:action="logout">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>

    <form method="post" th:object="${userForm}" class="form-signin">

        <h2 class="form-signin-heading" th:text="#{account.create.label}"></h2>

        <div class="form-group">
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="First name"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{email}" class="form-control" placeholder="Email"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{skypeID}" class="form-control" placeholder="Skype ID"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{password}" class="form-control"
                   placeholder="Password (between 8 and 32 symbol)"
                   autofocus="autofocus"/>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="Confirm password"
                    autofocus="autofocus"/>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{button.submit.label}"></button>

        <h3><a onclick="document.forms['logoutForm'].submit()" th:text="#{button.logout.label}"></a></h3>
    </form>

</div>

</body>
</html>
